.about {
    padding: 30px 20px; 

    &__col-right {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 20px;

        text-align: center;
    }

    &__author-img {
        display: block;
        width: 140px;
        height: 140px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    &__author-name {
        margin: 0;
        margin-bottom: 7px;

        font-size: 18px;
        line-height: 1.2;
        font-weight: $fw-med;
    }

    &__author-job {
        margin: 0;
        margin-bottom: 7px;

        font-size: 14px;
        line-height: 1.2;
    }

    &__author-more {
        font-size: 14px;
        line-height: 1.5;
        font-weight: $fw-med;
        color: $clr-link;
        text-decoration: none;
    }

    &__author-more:hover {
        color: rgba($clr-link, 0.8);
    }

    &__author-more:focus {
        outline: 3px solid $clr-link;
    }

    &__author-more:active {
        color: rgba($clr-link, 0.3);
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 10px;

        font-size: 18px;
        line-height: 1.4;
        font-weight: $fw-med;
    }

    &__text {
        margin: 0;
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 1.5;
    }

    &__read-more {
        position: relative;
        padding: 0;
        padding-right: 25px;

        color: $clr-link;
        font-size: 16px;
        line-height: 1.4;
        font-weight: $fw-med;

        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
    }

    &__read-more:hover {
        color: rgba($clr-link, 0.8);
    }

    &__read-more:focus {
        outline: 3px solid $clr-link;
    }

    &__read-more:active {
        color: rgba($clr-link, 0.3);
    }

    &__read-more::after {
        content: '';

        position: absolute;
        top: 5px;
        right: 5px;
        width: 8px;
        height: 8px;

        border-bottom: 1px solid $br-clr-primary;
        border-right: 1px solid $br-clr-primary;
        transform: rotate(45deg);
    }

    &__author-description {
        margin-bottom: 25px;
    }

    // Скрыть / показать весь текст

    &__read-more::after {
        transition: transform 0.3s ease-in-out;
    }

    &__read-more--hide::after {
        top: 10px;
        transform: rotate(225deg);
    }
}

@media (min-width: $width-dsk) {
    .about {
         display: flex;
         flex-direction: row-reverse;
         justify-content: flex-end;
         padding: 30px 150px;

        &__col-left {
            width: 50%;
        }

        &__col-right {
            position: relative;
            width: 250px;
            margin-left: 150px;
            padding-top: 35px;
        }

        &__col-right::before {
            content: '';
            
            position: absolute;
            top: 0;
            right: 0;
            width: 31px;
            height: 27px;

            background-image: url('../../img/icon-heart.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &__author-more {
            display: block;
            width: 200px;
            margin: 0 auto;
        }
    
        &__subtitle {
            font-size: 20px;
        }
    
        &__text {
            margin: 0;
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 1.5;
        }
    }   
}