.intro {
    padding: 140px 15px 150px;

    color: #fff;

    background-color: #44506A;
    background-image: url('../../img/intro-bg-mobile.png');
    background-position: center;
    background-size: cover;

    &__title {
        margin: 0;
        margin-bottom: 30px;

        font-size: 32px;
        line-height: 1.2;
        font-weight: $fw-bold;

        & span {
            color: $clr-accent;
        }
    }

    &__container {
        position: relative;
        width: 200px;
        padding: 5px 70px 5px 15px;
        margin-bottom: 26px;
        
        color: #fff;

        background-color: $clr-accent;
    }

    // Значок процента

    &__container::before {
        content: '%';
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 47px;
        height: 47px;

        font-size: 30px;
        line-height: 1.5;
        font-weight: $fw-extrabold;

        border: 1px solid #fff;
        border-radius: 50%;
    }

    // Диалоговое окно

    &__container::after {
        content: '';

        position: absolute;
        bottom: -8px;
        right: 35%;
        width: 16px;
        height: 16px;
        transform: rotate(45deg);

        background-color: $clr-accent;
    }

    &__price {
        margin: 0;

        font-size: 18px;
        line-height: 1.3;

        & span {
            display: block;

            font-size: 30px;
            font-weight: $fw-extrabold;
        }
    }

    &__book {
        display: block;
        margin: 0;
        padding: 20px 30px;

        color: $clr-accent;
        font-weight: $fw-black;
        text-decoration: none;
        text-align: center;

        border: 1px solid $clr-accent;
        border-radius: 5px;
    }
}

@media (min-width: $width-dsk) {
    .intro {
        padding: 280px 150px 260px; 

        background-image: url('../../img/intro-bg-dsk.png');

        &__title {
            max-width: 900px;

            font-size: 40px;
        }

        &__book {
            width: 300px;
        }
    }
}