.page-header {
    display: flex;
    align-items: flex-end;
    padding: 20px 15px;

    &__logo svg {
        width: 84px;
        height: 16px;
    }

    &__whereabouts {
        display: block;
        margin: 0 auto;
        
        font-size: 14px;
        line-height: 1.2;
        color: $clr-link;
        text-decoration: none;
    }

    &__phone {
        display: none;
    }

    &__profile {
        width: 22px;
        height: 22px;
        margin-left: auto;

        background-image: url('../../img/icon-profile.png');
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}

@media (min-width: $width-dsk) {
    .page-header {
        padding: 40px 150px;

        &__logo svg {
            width: 129px;
            height: 23px;  
        }

        &__whereabouts {
            display: none;
        }
        
        &__phone {
            display: block;
            margin-left: 35px;
            padding-bottom: 8px;

            font-size: 14px;
            line-height: 1.2;
            color: $clr-light;
            text-decoration: none;

            & span {
                color: $clr-text;
            }
        }
    }
}