body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #37373F;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  background-color: #fff; }

*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/montserrat-500.woff") format("woff"), url("../fonts/montserrat-500.woff2") format("woff2"); }

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/montserrat-600.woff") format("woff"), url("../fonts/montserrat-600.woff2") format("woff2"); }

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/montserrat-700.woff") format("woff"), url("../fonts/montserrat-700.woff2") format("woff2"); }

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/montserrat-800.woff") format("woff"), url("../fonts/montserrat-800.woff2") format("woff2"); }

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/montserrat-900.woff") format("woff"), url("../fonts/montserrat-900.woff2") format("woff2"); }

.page-header {
  display: flex;
  align-items: flex-end;
  padding: 20px 15px; }
  .page-header__logo svg {
    width: 84px;
    height: 16px; }
  .page-header__whereabouts {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.2;
    color: #5286EC;
    text-decoration: none; }
  .page-header__phone {
    display: none; }
  .page-header__profile {
    width: 22px;
    height: 22px;
    margin-left: auto;
    background-image: url("../../img/icon-profile.png");
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer; }

@media (min-width: 1000px) {
  .page-header {
    padding: 40px 150px; }
    .page-header__logo svg {
      width: 129px;
      height: 23px; }
    .page-header__whereabouts {
      display: none; }
    .page-header__phone {
      display: block;
      margin-left: 35px;
      padding-bottom: 8px;
      font-size: 14px;
      line-height: 1.2;
      color: #B3B3B3;
      text-decoration: none; }
      .page-header__phone span {
        color: #37373F; } }

.intro {
  padding: 140px 15px 150px;
  color: #fff;
  background-color: #44506A;
  background-image: url("../../img/intro-bg-mobile.png");
  background-position: center;
  background-size: cover; }
  .intro__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700; }
    .intro__title span {
      color: #FC9B09; }
  .intro__container {
    position: relative;
    width: 200px;
    padding: 5px 70px 5px 15px;
    margin-bottom: 26px;
    color: #fff;
    background-color: #FC9B09; }
  .intro__container::before {
    content: '%';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 47px;
    height: 47px;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 800;
    border: 1px solid #fff;
    border-radius: 50%; }
  .intro__container::after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 35%;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    background-color: #FC9B09; }
  .intro__price {
    margin: 0;
    font-size: 18px;
    line-height: 1.3; }
    .intro__price span {
      display: block;
      font-size: 30px;
      font-weight: 800; }
  .intro__book {
    display: block;
    margin: 0;
    padding: 20px 30px;
    color: #FC9B09;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    border: 1px solid #FC9B09;
    border-radius: 5px; }

@media (min-width: 1000px) {
  .intro {
    padding: 280px 150px 260px;
    background-image: url("../../img/intro-bg-dsk.png"); }
    .intro__title {
      max-width: 900px;
      font-size: 40px; }
    .intro__book {
      width: 300px; } }

.photoshoot {
  padding: 35px 20px;
  overflow: hidden; }
  .photoshoot__title {
    width: 170px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    text-align: center; }
  .photoshoot__img {
    display: block;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 25px; }
  .photoshoot__text {
    margin: 0;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.4; }
  .photoshoot__features-list {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    list-style: none; }
  .photoshoot__features-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    color: #37373F; }
  .photoshoot__features-item:first-child {
    margin-top: 0; }
  .photoshoot__features-item--price p {
    margin: 0; }
  .photoshoot__features-item--price span {
    font-weight: 600; }
  .photoshoot__rating-container::before, .photoshoot__features-item::before {
    content: '';
    display: inline-block;
    width: 37px;
    height: 41px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat; }
  .photoshoot__features-item--time::before {
    background-image: url("../../img/icon-time.svg");
    background-size: 32px 32px; }
  .photoshoot__features-item--language::before {
    background-image: url("../../img/icon-language.svg");
    background-size: 31px 28px; }
  .photoshoot__features-item--price::before {
    background-image: url("../../img/icon-price.svg");
    background-size: 31px 20px; }
  .photoshoot__features-item--location::before {
    background-image: url("../../img/icon-location.svg");
    background-size: 31px 31px; }
  .photoshoot__features-item--photo::before {
    background-image: url("../../img/icon-photo.svg");
    background-size: 35px 28px; }
  .photoshoot__rating-container::before {
    background-image: url("../../img/icon-rating.svg");
    background-size: 37px 41px; }
  .photoshoot__rating-container {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 60px;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7; }
  .photoshoot__rating-link {
    display: block;
    position: relative;
    padding-bottom: 25px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    color: #37373F;
    text-decoration: none; }
    .photoshoot__rating-link span {
      font-weight: 600; }
  .photoshoot__rating-link::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 17px;
    background-image: url("../../img/icon-stars.svg");
    background-size: 118px 17px;
    background-repeat: no-repeat; }
  .photoshoot__subtitle {
    width: 180px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    text-align: center; }
    .photoshoot__subtitle span {
      display: none; }
  .photoshoot__gallery-list {
    width: 10000px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; }
  .photoshoot__gallery-item {
    width: 280px; }
  .photoshoot__gallery-item {
    margin-left: 15px; }
  .photoshoot__gallery-item:nth-child(1) {
    margin-left: 0; }
  .photoshoot__gallery-img {
    width: 100%; }
  .photoshoot__show-all {
    display: none; }

@media (min-width: 1000px) {
  .photoshoot {
    position: relative;
    padding: 70px 150px 25px; }
    .photoshoot::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 300px);
      border-bottom: 1px solid #C7C7C7; }
    .photoshoot__container {
      display: grid;
      grid-template-areas: "title img" "text  img" "list  img" "rating ...";
      grid-template-columns: 1fr 1fr;
      -moz-column-gap: 50px;
           column-gap: 50px; }
    .photoshoot__title {
      width: 240px;
      grid-area: title;
      margin: 0;
      margin-bottom: 10px;
      font-size: 40px;
      font-weight: 500;
      text-align: left; }
    .photoshoot__img-set {
      grid-area: img; }
    .photoshoot__img {
      width: 555px;
      height: 375px;
      margin: 0;
      margin-left: auto;
      margin-bottom: 0;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: left;
         object-position: left; }
    .photoshoot__text {
      grid-area: text;
      margin-bottom: 5px;
      font-size: 18px; }
    .photoshoot__features-list {
      grid-area: list;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .photoshoot__features-item--price {
      display: none; }
    .photoshoot__rating-container {
      grid-area: rating;
      margin-top: 35px; }
    .photoshoot__subtitle {
      width: auto;
      margin: 0;
      margin-bottom: 35px;
      font-size: 20px;
      font-weight: 500;
      text-align: left; }
      .photoshoot__subtitle span {
        display: inline-block; }
    .photoshoot__gallery-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px; }
    .photoshoot__gallery-item {
      width: calc((100% - 30px) / 4);
      max-width: 400px;
      margin-left: 10px; }
    .photoshoot__gallery-item:nth-child(4n + 1) {
      margin-left: 0; }
    .photoshoot__gallery-img {
      width: 100%; }
    .photoshoot__show-all {
      position: relative;
      width: 210px;
      margin: 0 auto;
      display: block;
      color: #5286EC;
      font-size: 17px;
      line-height: 1.4;
      font-weight: 500;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: color 0.2s ease-in-out; }
    .photoshoot__show-all:hover {
      color: rgba(82, 134, 236, 0.8); }
    .photoshoot__show-all:focus {
      outline: 3px solid #5286EC; }
    .photoshoot__show-all:active {
      color: rgba(82, 134, 236, 0.3); }
    .photoshoot__show-all::before, .photoshoot__show-all::after {
      content: '';
      position: absolute;
      top: 7px;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid #C7C7C7;
      border-right: 1px solid #C7C7C7;
      transform: rotate(45deg); }
    .photoshoot__show-all::before {
      left: 10px; }
    .photoshoot__show-all::after {
      right: 10px; } }

.about {
  padding: 30px 20px; }
  .about__col-right {
    margin-bottom: 20px;
    text-align: center; }
  .about__author-img {
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 20px; }
  .about__author-name {
    margin: 0;
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500; }
  .about__author-job {
    margin: 0;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 1.2; }
  .about__author-more {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: #5286EC;
    text-decoration: none; }
  .about__author-more:hover {
    color: rgba(82, 134, 236, 0.8); }
  .about__author-more:focus {
    outline: 3px solid #5286EC; }
  .about__author-more:active {
    color: rgba(82, 134, 236, 0.3); }
  .about__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 500; }
  .about__text {
    margin: 0;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.5; }
  .about__read-more {
    position: relative;
    padding: 0;
    padding-right: 25px;
    color: #5286EC;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.2s ease-in-out; }
  .about__read-more:hover {
    color: rgba(82, 134, 236, 0.8); }
  .about__read-more:focus {
    outline: 3px solid #5286EC; }
  .about__read-more:active {
    color: rgba(82, 134, 236, 0.3); }
  .about__read-more::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #C7C7C7;
    border-right: 1px solid #C7C7C7;
    transform: rotate(45deg); }
  .about__author-description {
    margin-bottom: 25px; }

@media (min-width: 1000px) {
  .about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 30px 150px; }
    .about__col-left {
      width: 50%; }
    .about__col-right {
      position: relative;
      width: 250px;
      margin-left: 150px;
      padding-top: 35px; }
    .about__col-right::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 31px;
      height: 27px;
      background-image: url("../../img/icon-heart.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
    .about__author-more {
      display: block;
      width: 200px;
      margin: 0 auto; }
    .about__subtitle {
      font-size: 20px; }
    .about__text {
      margin: 0;
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 1.5; } }

.enroll {
  padding: 10px 20px; }
  .enroll__subtitle {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 28px;
    line-height: 1.2;
    text-align: center; }
  .enroll__container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #C7C7C7; }
  .enroll__date {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.5); }
    .enroll__date span {
      font-weight: 500; }
  .enroll__date-input {
    position: absolute;
    top: 10px;
    left: 300px;
    width: 35px;
    height: 40px;
    border: none;
    cursor: pointer; }
  .enroll__date-input::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-image: url("../../img/icon-date.png");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    z-index: 10;
    background-color: inherit; }
  .enroll__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .enroll__item {
    padding: 30px 20px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.5); }
  .enroll__time, .enroll__seats, .enroll__price {
    margin: 0;
    font-size: 18px;
    line-height: 1.4; }
  .enroll__time, .enroll__price {
    margin-bottom: 7px; }
  .enroll__seats {
    margin-bottom: 20px; }
  .enroll__price {
    font-weight: 600; }
  .enroll__book {
    display: inline-block;
    padding: 12px 30px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    color: #FC9B09;
    text-decoration: none;
    border: 2px solid #FC9B09;
    border-radius: 5px;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out; }
  .enroll__book:hover {
    color: rgba(252, 155, 9, 0.6);
    border-color: rgba(252, 155, 9, 0.6); }
  .enroll__book:focus {
    outline: 3px solid #FC9B09;
    outline-offset: 4px; }
  .enroll__book:active {
    color: rgba(252, 155, 9, 0.3);
    border-color: rgba(252, 155, 9, 0.3); }
  .enroll__rating {
    position: relative;
    margin: 0;
    padding: 30px 20px 45px 70px;
    font-size: 13px;
    line-height: 1.4; }
    .enroll__rating span {
      font-weight: 600; }
  .enroll__rating::before {
    content: '';
    position: absolute;
    top: 32px;
    left: 20px;
    width: 37px;
    height: 41px;
    background-image: url("../../img/icon-rating.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .enroll__rating::after {
    content: '';
    position: absolute;
    bottom: 25px;
    left: 70px;
    width: 118px;
    height: 17px;
    background-image: url("../../img/icon-stars.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

@media (min-width: 1000px) {
  .enroll {
    padding: 40px 150px; }
    .enroll__subtitle {
      width: 200px;
      margin: 0;
      margin-bottom: 25px;
      font-size: 20px;
      font-weight: 500;
      text-align: left; }
    .enroll__container {
      max-width: 1200px;
      margin: 0; }
    .enroll__date {
      text-align: left;
      padding: 25px 30px; }
    .enroll__date-input {
      top: 20px;
      left: 220px; }
    .enroll__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 80px 20px 30px; }
    .enroll__col-left {
      width: 50%; }
    .enroll__seats {
      margin-bottom: 0; }
    .enroll__rating {
      display: flex;
      align-items: center;
      padding: 20px 30px;
      font-size: 18px; }
    .enroll__rating::before {
      position: static;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 5px; }
    .enroll__rating::after {
      position: static;
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 3px; } }
